

#service{
    font-family:$Paprika;
    background: #FDFDFD;
    position: relative;
    
    padding-top: 100px;
    padding-bottom: 91px;
    .layer{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }

    .left{

        z-index: 2;
        .list{
            
            max-width: 548px;
            height: 144px;
            padding: 42px 28px;
            margin-bottom: 5px;
            gap: 37px;
            transition: .5s;
            &:hover{
                border-radius: 10px;
                -webkit-box-shadow: 18px 21px 73px -33px rgba(0,0,0,0.75);
                -moz-box-shadow: 18px 21px 73px -33px rgba(0,0,0,0.75);
                box-shadow: 18px 21px 73px -33px rgba(0,0,0,0.75);
           
           
            }

          
    
            img{
                max-width:38px;
                height: 25px ;
            }
            p{
                max-width: 319px;
            }
           
    }

    }

    .right{


        .text-area{
            margin-left: 186px;
            h2{
                font-size: 48px;
                font-weight: 700;
                color: #141135;
                font-family: $Open-Sans;
                margin-bottom: 9px;
            }
            p{  
                max-width: 393px;
                font-size: 18px;
                font-weight: 400;
                color: #726E9E;
                margin-bottom: 41px;
            }
            a{  
                @include btn;                             
                text-decoration: none;
               
              
                 
            }
        }

      
    }
    


}

