#wedo{
    font-family: $Paprika;
    background-color: #F6F5FF;
    padding: 100px 0;

    .text-area{
        
        h2{
            font-size: 48px;
            font-weight: 700;
            color: #141135;
            font-family: $Open-Sans;
            margin-bottom: 9px;
        }
        p{  
            max-width: 350px;
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            color: #726E9E;
            margin-bottom: 41px;
        }
        a{  
            @include btn;
            text-decoration: none;
        
        }
    }

    .item{
        text-align: center;
        background-color: $white-font-color;
        max-width: 370px;
        height: 395px;        
        border-radius: 20px;
        margin-bottom: 30px; 
          
        transition: .5s;
           &:hover{
            background-color: $primary-color;
            h3{
                color: #FAFAFE;
            }
            p{
                color: #E6E5F3;
            }
            a{
                color: #FAFAFE;
            } 
            
            .read{
                .overlay {
                    background-color:   rgb(151, 145, 214);
                 
                }
            }
          


        }        
        img{
            margin-top: 48px;
            margin-bottom: 31px;
               }

        h3{
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
            color: #141135;
            font-family: $Open-Sans;
         
        }

        p{
            max-width: 257px;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            color: #726E9E;
            margin: 0 auto;
            margin-top: 16px;
            margin-bottom: 20px;
        }

        .read{
            
            margin: 0 auto;
           max-width: 107px;
           position: relative;
            
            a{
            
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                color: #575663;
                font-family: $Open-Sans;
                text-decoration: none; 
            }
             .overlay {
                background-color: rgb(187, 236, 179);
                min-width: 31px;
                height: 41px;
                border-top-right-radius: 100px;
                border-bottom-right-radius: 100px;
                position: absolute;
                right: 0;
                top: -9px;
               
                opacity: 0.5;
            }
           
        }
   
    }
}