$base-color:#160C6D;
$nav-color:rgba(22, 12, 110 ,.7);
$primary-color:#6B62C5;
$primary-font-color:#EFF4FA;
$white-font-color:#FAFAFE;
$green-color:#1BBF00;
$title-font-color:#141135;
$para-font-color:#726E9E;
$line-color:rgba(79, 88, 95 ,.7);
